# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/
*.sln.DotSettings.user


# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
**/[Bb]in/**
**/[Oo]bj/**
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
.idea/
Assembler.Business/obj/
Assembler.Main/obj/
/.vs/CISCraft/CopilotIndices/17.13.433.20974
/.vs/CISCraft/DesignTimeBuild
/.vs/CISCraft/FileContentIndex
/.vs/CISCraft/v17
/.vs/ProjectEvaluation
/Assembler.Business/bin/Debug/net9.0
/Assembler.Business/obj/Debug/net9.0/ref
/Assembler.Business/obj/Debug/net9.0/refint
/Assembler.Main/obj/Debug/net9.0/Assembler.Main.AssemblyInfo.cs
/Assembler.Main/obj/Debug/net9.0/Assembler.Main.AssemblyInfoInputs.cache
/Assembler.Main/obj/Debug/net9.0/Assembler.Main.assets.cache
/Assembler.Main/obj/Debug/net9.0/Assembler.Main.GeneratedMSBuildEditorConfig.editorconfig
/Assembler.Main/obj/Assembler.Main.csproj.nuget.dgspec.json
/Assembler.Main/obj/Assembler.Main.csproj.nuget.g.props
/Assembler.Main/obj/project.assets.json
/Assembler.Main/obj/project.nuget.cache
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.AssemblyInfo.cs
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.AssemblyInfoInputs.cache
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.assets.cache
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.csproj.BuildWithSkipAnalyzers
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.csproj.CoreCompileInputs.cache
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.csproj.FileListAbsolute.txt
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.dll
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.GeneratedMSBuildEditorConfig.editorconfig
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.pdb
/Assembler.Business/obj/Debug/net9.0/Assembler.Business.sourcelink.json
/.vs
/Assembler.Business/obj/Assembler.Business.csproj.nuget.dgspec.json
/Assembler.Business/obj/Assembler.Business.csproj.nuget.g.props
/Assembler.Business/obj/project.assets.json
/Assembler.Business/obj/project.nuget.cache
/Assembler.Tests/obj/Debug/net9.0/Assembler.Tests.AssemblyInfo.cs
/Assembler.Tests/obj/Debug/net9.0/Assembler.Tests.AssemblyInfoInputs.cache
/Assembler.Tests/obj/Debug/net9.0/Assembler.Tests.assets.cache
/Assembler.Tests/obj/Debug/net9.0/Assembler.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Ui/obj/Debug/net9.0-windows/Ui.AssemblyInfo.cs
/Ui/obj/Debug/net9.0-windows/Ui.AssemblyInfoInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui.assets.cache
/Ui/obj/Debug/net9.0-windows/Ui.GeneratedMSBuildEditorConfig.editorconfig
/Assembler.Tests/obj/Assembler.Tests.csproj.nuget.dgspec.json
/Assembler.Tests/obj/Assembler.Tests.csproj.nuget.g.props
/Assembler.Tests/obj/project.assets.json
/Assembler.Tests/obj/project.nuget.cache
/ControlUnit/bin/Debug/net9.0/ControlUnit.deps.json
/ControlUnit/bin/Debug/net9.0/ControlUnit.dll
/ControlUnit/bin/Debug/net9.0/ControlUnit.pdb
/ControlUnit/obj/ControlUnit.csproj.nuget.dgspec.json
/ControlUnit/obj/ControlUnit.csproj.nuget.g.props
/ControlUnit/obj/ControlUnit.csproj.nuget.g.targets
/ControlUnit/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ControlUnit/obj/Debug/net9.0/ControlUnit.AssemblyInfo.cs
/ControlUnit/obj/Debug/net9.0/ControlUnit.AssemblyInfoInputs.cache
/ControlUnit/obj/Debug/net9.0/ControlUnit.assets.cache
/ControlUnit/obj/Debug/net9.0/ControlUnit.csproj.CoreCompileInputs.cache
/ControlUnit/obj/Debug/net9.0/ControlUnit.csproj.FileListAbsolute.txt
/ControlUnit/obj/Debug/net9.0/ControlUnit.dll
/ControlUnit/obj/Debug/net9.0/ControlUnit.GeneratedMSBuildEditorConfig.editorconfig
/ControlUnit/obj/Debug/net9.0/ControlUnit.GlobalUsings.g.cs
/ControlUnit/obj/Debug/net9.0/ControlUnit.pdb
/ControlUnit/obj/Debug/net9.0/ControlUnit.sourcelink.json
/ControlUnit/obj/Debug/net9.0/refint/ControlUnit.dll
/ControlUnit/obj/project.assets.json
/ControlUnit/obj/project.nuget.cache
/Ui/bin/Debug/net9.0-windows
/Ui/obj/Debug/net9.0-windows/ref/Ui.dll
/Ui/obj/Debug/net9.0-windows/refint/Ui.dll
/Ui/obj/Debug/net9.0-windows/App.baml
/Ui/obj/Debug/net9.0-windows/App.g.i.cs
/Ui/obj/Debug/net9.0-windows/apphost.exe
/Ui/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.cs
/Ui/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.i.cs
/Ui/obj/Debug/net9.0-windows/MainWindow.g.i.cs
/Ui/obj/Debug/net9.0-windows/Ui.AssemblyInfo.cs
/Ui/obj/Debug/net9.0-windows/Ui.AssemblyInfoInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui.assets.cache
/Ui/obj/Debug/net9.0-windows/Ui.csproj.BuildWithSkipAnalyzers
/Ui/obj/Debug/net9.0-windows/Ui.csproj.CoreCompileInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui.csproj.FileListAbsolute.txt
/Ui/obj/Debug/net9.0-windows/Ui.csproj.Up2Date
/Ui/obj/Debug/net9.0-windows/Ui.designer.deps.json
/Ui/obj/Debug/net9.0-windows/Ui.designer.runtimeconfig.json
/Ui/obj/Debug/net9.0-windows/Ui.dll
/Ui/obj/Debug/net9.0-windows/Ui.g.resources
/Ui/obj/Debug/net9.0-windows/Ui.GeneratedMSBuildEditorConfig.editorconfig
/Ui/obj/Debug/net9.0-windows/Ui.genruntimeconfig.cache
/Ui/obj/Debug/net9.0-windows/Ui.pdb
/Ui/obj/Debug/net9.0-windows/Ui.sourcelink.json
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.AssemblyInfo.cs
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.AssemblyInfoInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.assets.cache
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.csproj.BuildWithSkipAnalyzers
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.GlobalUsings.g.cs
/Ui/obj/Debug/net9.0-windows/Ui_cjt0sfqm_wpftmp.sourcelink.json
/Ui/obj/Debug/net9.0-windows/Ui_Content.g.cs
/Ui/obj/Debug/net9.0-windows/Ui_Content.g.i.cs
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.AssemblyInfo.cs
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.AssemblyInfoInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.assets.cache
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.csproj.BuildWithSkipAnalyzers
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.GlobalUsings.g.cs
/Ui/obj/Debug/net9.0-windows/Ui_g0efbfqg_wpftmp.sourcelink.json
/Ui/obj/Debug/net9.0-windows/Ui_MarkupCompile.i.cache
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.AssemblyInfo.cs
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.AssemblyInfoInputs.cache
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.assets.cache
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.csproj.BuildWithSkipAnalyzers
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.GlobalUsings.g.cs
/Ui/obj/Debug/net9.0-windows/Ui_z0r5l43b_wpftmp.sourcelink.json
/Ui/obj/Debug/net9.0-windows/Views/Pages/DashboardPage.baml
/Ui/obj/Debug/net9.0-windows/Views/Pages/DashboardPage.g.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/DashboardPage.g.i.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/DataPage.baml
/Ui/obj/Debug/net9.0-windows/Views/Pages/DataPage.g.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/DataPage.g.i.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/MonacoPage.baml
/Ui/obj/Debug/net9.0-windows/Views/Pages/MonacoPage.g.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/MonacoPage.g.i.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/SettingsPage.baml
/Ui/obj/Debug/net9.0-windows/Views/Pages/SettingsPage.g.cs
/Ui/obj/Debug/net9.0-windows/Views/Pages/SettingsPage.g.i.cs
/Ui/obj/Debug/net9.0-windows/Views/Windows/MainWindow.baml
/Ui/obj/Debug/net9.0-windows/Views/Windows/MainWindow.g.cs
/Ui/obj/Debug/net9.0-windows/Views/Windows/MainWindow.g.i.cs
/Ui/obj/project.assets.json
/Ui/obj/project.nuget.cache
/Ui/obj/Ui.csproj.nuget.dgspec.json
/Ui/obj/Ui.csproj.nuget.g.props
/Assembler.Tests/obj/Assembler.Tests.csproj.nuget.dgspec.json
/Assembler.Tests/obj/Assembler.Tests.csproj.nuget.g.props
/Assembler.Tests/obj/project.assets.json
/Assembler.Tests/obj/project.nuget.cache
/Assembler.Tests/bin/Debug/net9.0/Debug - Comandă rapidă.lnk
/ControlUnit/obj/Debug/net9.0/ref/ControlUnit.dll

# Unit test trace
/CPU.Tests/SnapShots_*

# Application release
/Release/*
Release.rar

# Logs directory
/Logs/*